body {
    font-family: poppins;
}
.container {
    width: 360px;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 100px;
    padding: 30px;
}
.form-control {
    border-radius: 0;
}
label {
    margin-bottom: 10px;
    margin-top: 10px;
}
.result-area {
    text-align: center;
    margin-top: 30px;
    justify-content: center;
}
#result {
    margin-top: 10px;
}
h1 {
    font-size: 20px;
}
span {
    font-size: 30px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 15px;
    }
}
